{% extends 'base.html' %}

{% block title %}
<h1 class="display-1 text-center">Edit Feedback</h1>
<p class="text-center">by: {{ user.first_name }}</p>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <form action="/feedback/{{ feedback.id }}/update" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                {{ field.label }}
            </div>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>

        <span>
            {% for error in field.errors %}
            <span class="m-2 text-danger">{{ error }}</span>
            {% endfor %}
        </span>
        {% endfor %}
        <button class="btn btn-info" type="submit">Submit</button>
    </form>
</div>
{% endblock %}